*{
	font-family: sans-serif;
	font-weight: Bold;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.banner{
	max-width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(./images/banner.png);
	background-position: center;
	background-size: cover;
}

.nav{
	color: #000000;
	text-align: center;
	width: 85%;
	height: 100px;
	margin: auto;
	display: flex;
	padding: 35px 0;
	align-items: center;
	justify-content: unset;
}

.logo{
	align-content: left;
	width: 200px;
	cursor: pointer;
	margin-left: 20px;
	padding: 15px;
	background-color: #424242;
	border: 2px solid #fff;
	border-radius: 15px;
}

.lr{
	list-style: none;
	align-content: right;
	margin-left: 55%;
}

.link{
	size: auto;
	display: inline-block;
	padding: 10px;
	border: 2px solid #424242;
	border-radius: 15px;
	background: linear-gradient(56deg, rgba(221,0,233,1) 0%, rgba(0,212,255,1) 100%);
}


.tripimages{
	display: inline-block;
	position: center;
	align-content: center;
	margin: 0 auto;
}

.img{
	border-radius: 15px;
	margin: 20px 30px;
	height: 650px;
	width: 500px;

}

/*
 __  __      _      ___   _   _ 
|  \/  |    / \    |_ _| | \ | |
| |\/| |   / _ \    | |  |  \| |
| |  | |  / ___ \   | |  | |\  |
|_|  |_| /_/   \_\ |___| |_| \_|

*/

#maincontent{
	font-family: monospace;
	font-size: 20px;
	font-weight: Bold;
	width: 50%;
	align-content: center;
	position: center;
	padding-top: 30px;
	margin: auto;
}

#mainh1{
	margin-top: 15%;
	margin-bottom: 10px;
	color: gray;
}

#mainp{
	color: gray;
}
/*
 ____    _____   _   _   ____    ___    ___  
/ ___|  |_   _| | | | | |  _ \  |_ _|  / _ \ 
\___ \    | |   | | | | | | | |  | |  | | | |
 ___) |   | |   | |_| | | |_| |  | |  | |_| |
|____/    |_|    \___/  |____/  |___|  \___/ 
                                             
*/
#studiocontent{
	max-height: 75%;
	max-width: 90%;
	align-content: center;
	position: center;
	margin: 0px auto;
}

#studioh1{
	font-style: italic;
	margin-bottom: 10px;
	color: white;
	text-align: center;
}

/*
  ____      _      _       _       _____   ____   __   __
 / ___|    / \    | |     | |     | ____| |  _ \  \ \ / /
| |  _    / _ \   | |     | |     |  _|   | |_) |  \ V / 
| |_| |  / ___ \  | |___  | |___  | |___  |  _ <    | |  
 \____| /_/   \_\ |_____| |_____| |_____| |_| \_\   |_|  
                                                         
*/

.gallerycontent{
	color: white;
	align-content: center center;
	margin: auto;
	max-height: 75%;
	max-width: 90%;
}

.gallerycontentnext{
	padding-top: 125px;
	margin: auto;
	max-height: 75%;
	max-width: 90%;
}

#galleryh1{
	text-align: center;
}


/*
 ____    ____    ___    ____   ___   _   _    ____ 
|  _ \  |  _ \  |_ _|  / ___| |_ _| | \ | |  / ___|
| |_) | | |_) |  | |  | |      | |  |  \| | | |  _ 
|  __/  |  _ <   | |  | |___   | |  | |\  | | |_| |
|_|     |_| \_\ |___|  \____| |___| |_| \_|  \____|
                                                   
*/



/*
  ____    ___    _   _   _____      _       ____   _____ 
 / ___|  / _ \  | \ | | |_   _|    / \     / ___| |_   _|
| |     | | | | |  \| |   | |     / _ \   | |       | |  
| |___  | |_| | | |\  |   | |    / ___ \  | |___    | |  
 \____|  \___/  |_| \_|   |_|   /_/   \_\  \____|   |_|  
                                                         
*/
