html{
    background-color: gray;
}

body{
    display: flex;
    align-content: space-between;
}

#content{
    width: 400px;
    height: auto;
    display: grid;
    text-align: center;
    align-content: center;
}

img{
    height: 500px;
    width: auto;
    border-radius: 30px;
}

img:hover{
    margin-top: 1000px;
}